@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@200;300;400;500&display=swap');


#loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #0993e9;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
}

.center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans Arabic', sans-serif;
    background: #EBEBEB;
}

.navbar {
    background-color: #CCCCCC;
    padding: 0.75rem;
}

.dropdown:hover>.dropdown-menu {
    display: block;
    background-color: #CCCCCC;
}

.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}

.home-carousel .carousel-inner {
    margin-top: 8rem;
    margin-bottom: 7.5rem;
    border-radius: 17px;
}

.home-about {
    margin-bottom: 4rem;
}

.home-about .video {
    height: 300px;
    border-radius: 18px;
}

@media (width < 700px) {
    .home-about .video {
        height: 200px;
    }
}

@media (width < 450px) {
    .home-about .video {
        height: 180px;
    }
}

.flipbox {
    perspective: 1000px;
    position: relative;
    transform-style: preserve-3d;
    margin-bottom: 40px;
    padding: 1.5rem;
}

.flipbox_inner {
    position: relative;
    width: 100%;
    height: 5px;
    padding-bottom: 100%;
    transform-style: preserve-3d;
    transition: transform 0.7s ease;
}

.flipbox_font{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 17px;
    padding: 5rem;
    backface-visibility: hidden;
    transition: transform 0.7s ease, -webkit-transform 0.7s ease;
    
}

.flipbox_back {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 17px;
    padding: 1rem;
    backface-visibility: hidden;
    transition: transform 0.7s ease, -webkit-transform 0.7s ease;
}

.flipbox_back {
    align-items: flex-start;
}

.flipbox_font {
    background: #CCCCCC;
}

.flipbox:hover .flipbox_font {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
}

.flipbox_back {
    background: #04438B;
    text-align: center;
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    font-weight: 400;
    font-size: 1.2rem;
}

.flipbox_back .header {
    font-weight: 500;
    font-size: 1.5rem;
}

.flipbox:hover .flipbox_back {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
}

@media (min-width: 768px) {
    .padyatri_team .col-md-3 {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media only screen and (max-width: 575px) and (min-width: 479px) {
    .padyatri_team .col-6 {
        -ms-flex: 0 0 33.33%;
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }
}

.spacer {
    aspect-ratio: 1920/200;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media (width < 700px) {
    .spacer {
        aspect-ratio: 2;
    }
}

@media (width < 700px) {
    .spacer {
        aspect-ratio: 2;
    }
}

.layer2 {
    background-image: url('/static/image/layer.svg');
}

.footer {
    background-color: #CCCCCC;
}

.footer .row {
    margin-top: 1.5rem;
    padding-bottom: 0.5rem;
}


.footer .img-fluid {
    height: 190px;
}

/* product page css section */

.product-header {
    margin-top: 10rem;
    margin-bottom: 4rem;
}

.product-body {
    margin-bottom: 5rem;
}

.product-body .card {
    border-color: #859FFF;
    border-width: 2px;
    border-radius: 18px;
}

.product-body .card .card-img {
    border-radius: 18px;
}

/* project page css section */

.project-body .card {
    border-color: #859FFF;
    border-width: 2px;
    border-radius: 18px;
}